body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(45, 48, 48);
}
.right-item {
  justify-self: center;
  align-self: center;
  width: 30px;
  /* background-color: aquamarine; */
}
.left-item {
  place-self: center;
  /* background-color: aquamarine; */
}
.right-arrow {
  width: 25px;
  height: 25px;
  /* border: 10px solid #333; */
  border: 10px solid #c91111;
  border-left: 0;
  border-top: 0;
  transform: rotate(315deg);
}
.right-arrow:hover {
  color: #44d65c;
  /* background-color: #44d65c; */
}
.left-arrow {
  width: 25px;
  height: 25px;
  /* border: 10px solid #333; */
  border: 10px solid #c91111;
  border-left: 0;
  border-top: 0;
  transform: rotate(135deg);
}

.image {
  height: 480px;
  width: 840px;
  align-items: center;
  grid-column: 2;
  grid-row: 2;
}

.container {
  width: 1020px;
  display: grid;
  grid-template-columns: 80px auto 80px;
  grid-template-rows: auto auto auto;
  background-color: #333;
  text-align: center;
  margin: 10px;
  gap: 5px;
}

.title {
  grid-column: 1 / span 3;
  margin: 10px;
  background-color: rgba(213, 234, 252, 0.466);
  border: 2px solid rgb(219, 153, 9);
  padding: 5px;
}

.fileName {
  padding-left: 20px;
}
.fileNameSpan {
  color: #e09d0b;
  font-size: 20px;
  grid-column: 2;
  margin-bottom: 10px;
}
